* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url('./image/background.PNG');     /*peachpuff, olivedrab*/
    background-repeat: no-repeat;      
    background-position: center;
    background-size: cover;
}

#question-view {
    display: none;
}

#result-view {
    display: none;
}

.write-up h1 {
    color: red;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1000;
}

.write-up h1 span{
    color: orange;
}

#cbt-app {
    width: 100vw;
    max-width: 500px;
    text-align: center;
    background: #5e075e71;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative; /* Ensure the position is relative for containing the icons */
}

h1, h2 {
    color: green;
}

h1 span{
    color: red;
}

.options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #4285f4;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.options button:hover {
    background: #008000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.options button.selected {
    background: purple; /* Selected option will turn purple */
}

#progress-bar {
    /* height: 8px; */
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0;
}

#progress-bar div {
    height: 100%;
    background: #4caf50;
    width: 0;
}

#next-button {
    display: inline-block;
    padding: 14px 34px;
    margin: 60px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #ff0000;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s ease-in-out;
}

#next-button:hover {
    transform: translateY(-5px);
    color: #ddd;
    background-color: #ff0000;
    box-shadow: 0 4px 8px rgba(255,0,0,0.9);
}

#preview-button {
    display: inline-block;
    margin: 60px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #008000;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s ease-in-out;
}

#preview-button:hover {
    color: #ddd;
    background-color: #008000;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.9);
    transform: translateY(-5px);
}

button {
    color: #ddd;
    display: inline-block;
    margin-top: 45px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #008000;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.6s ease-in-out;
}

button:hover {
    color: #ddd;
    background-color: #008000;
    box-shadow: 0 4px 8px rgba(0,255,0,0.9);
    transform: translateY(-5px);
}

.option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    transition: background-color 0.3s;
  }
  .option:hover {
    transform: translateY(-2px);
    background-color: #f0f0f0;
  }
  .selected {
    background-color: purple;
    color: #ddd;
  }
  #next-button:disabled {
    color: #000;
    border: 2px solid #ffff00;
    background-color: #ffff00;  
    cursor: not-allowed;
    transition: all 0.6s ease-in-out;
  }

  #next-button:disabled:hover {
    background-color: #ffff00;
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.9);  
    transform: translateY(-5px);
  }

.footer__bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: #908ca3;
    text-align: center;
}